/* Fonts
font-family: 'Antonio', sans-serif;
font-family: 'Spartan', sans-serif;
 */

:root {
  --dark-navy: #070724;
  --white: #ffffff;
  --transparent-white-heavy: rgba(255, 255, 255, 0.5);
  --transparent-white-medium: rgba(255, 255, 255, 0.2);
  --transparent-white-light: rgba(255, 255, 255, 0.1);
  --light-grey: #838391;
  --grey: #38384F;
  --light-blue: #419EBB;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("assets/background-image.png");
  background-color: var(--dark-navy);
  color: var(--white);
}

/* Typography */

body {
  font-family: 'Spartan', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5625rem;
}

h1 {
  font-family: 'Antonio', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 6rem;
  margin: 0;
}

h2 {
  font-family: 'Antonio', sans-serif;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 3.25rem;
  letter-spacing: -0.09375rem;
  margin: 1rem 0;
}

h3 {
  font-family: 'Spartan', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 0.6875rem;
  line-height: 1.5625rem;
  letter-spacing: 0.0625rem
}

h4 {
  font-family: 'Spartan', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 0.5625rem;
  line-height: 1.5625rem;
  letter-spacing: 0.0625rem;
  margin: 0;
  padding: 0.78rem 0;
}


a,
a:visited {
  text-decoration: none;
  color: var(--white);
}

p {
  margin: 0;
}

/* Layout */

.container {
  width: 87%;
  margin: 0 auto;
}

/* header nav layout */

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--transparent-white-medium);
}

.container-planet-details-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid var(--transparent-white-medium);
}

.current-tab {
  border-bottom: 4px solid var(--light-blue);
}

.current-tab:hover {
  color: var(--light-blue);
}

/* planets nav layout */

.container-planets-nav {
  list-style: none;
  padding: 0;
  position: relative;
}

.planets-nav-option {
  display: flex;
  align-items: center;
  justify-content: left;
  border-bottom: 1px solid var(--transparent-white-light);
}

.neptune {
  border-bottom: 0;
}

.container-planets-nav h3 {
  padding-left: 1.5625rem;
}

.planets-menu-arrow {
  position: absolute;
  left: 95%;
}

/* main layout */

.container-hero-image {
  display: flex;
  justify-content: center;
  padding: 6rem;
}

.hero-image {
  width: 22vw;
}

.planet-info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container-source {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  color: var(--light-grey);
}

.container-source img {
  padding-left: 0.5rem;
}

.container-source a {
  color: var(--light-grey);
  font-weight: 900;
  text-decoration: underline;
}

/* facts layout */

.container-facts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0.5rem 0;
  border: 1px solid var(--transparent-white-medium);
}

.fact-title {
  color: var(--light-grey);
  font-size: 0.7rem;
  font-weight: 700;
  line-height: 1rem;
}

.fact-figure {
  font-family: 'Antonio', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.625;
  letter-spacing: -0.046875rem;
}

/* Utility */

.hidden {
  display: none;
}

.visibile {
  display: visible;
}

.invisible {
  visibility: hidden;
}

/* Media queries */

@media (min-width: 769px) {
  /* Typography */

  h1 {
    font-size: 3rem;
  }

  #mercury-option {
    padding-left: 0;
  }

  /* Header */
  
  .hamburger-menu {
    display: none;
  }

  .container-header {
    flex-direction: column;
    border-bottom: none;
  }

  [aria-label="planets-nav"] {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--transparent-white-medium);
  }

  [aria-label="planet-details-nav"] {
    display: none;
  }

  .container-planets-nav {
    display: flex;
  }

  .container-planets-nav img {
    display: none;
  }

  .planets-nav-option {
    border-bottom: none;
  }

  /* Main */

  .container-hero-image {
    padding: 146px 0 130px 0;
  }

  .container-tablet-planet-info {
    display: flex;
    justify-content: space-between;
  }

  .planet-info-card {
    width: 50%;
    max-width: 360px;
  }

  [aria-label="tablet-planet-details-nav"] {
    display: block;
    width: 50%;
    /* align-content: right; */
  }

  .container-planet-details-nav {
    padding: 50px 0;
    flex-direction: column;
    border-bottom: none;
    align-items: flex-end;
    justify-content: space-between;
    border-collapse: collapse;
  }

  .container-planet-details-nav p {
    padding: 0 1rem;
    color: var(--transparent-white-heavy);
  }

  .tablet-planet-details-nav-option {
    display: flex;
    width: 90%;
    margin: 0.5rem 0;
    align-items: baseline;
    font-size: 0.5625rem;
    font-weight: 700;
    line-height: 1rem;
    border: 1px solid var(--transparent-white-medium);
  }

  .current-tab {
    background-color: var(--light-blue);
    border-bottom: none;
  }

  .planet-info-card {
    width: 50%;
    align-items: flex-start;
    text-align: left;
  }

  /* Facts layout */

  .container-facts {
    flex-direction: row;
  }

  .fact {
    flex-direction: column;
    width: 19%;
  }
}